<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-qrscanner"
        version="1.1.0">

  <name>QRScanner</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/QRScanner.js" target="js/QRScanner.js"/>

  <js-module src="www/QRScanner.js" name="QRScanner">
    <clobbers target="QRScanner" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="ios-package" value="QRScanner"/>
      </feature>
    </config-file>
    <header-file src="src/ios/QRScanner-Bridging-Header.h" />
    <source-file src="src/ios/QRScanner.swift"/>
  </platform>

  <platform name="browser">
      <config-file target="config.xml" parent="/*">
          <feature name="QRScanner">
              <param name="browser-package" value="QRScanner" />
          </feature>
      </config-file>
      <js-module src="src/browser/QRScannerProxy.js" name="QRScannerProxy">
          <runs />
      </js-module>
      <source-file src="src/browser/worker.js" target-dir="platform_www/plugins/cordova-plugin-qrscanner/src/browser" />
      <source-file src="src/browser/qrcode-reader.js" target-dir="platform_www/plugins/cordova-plugin-qrscanner/src/browser" />
      <js-module src="src/browser/adapter.js" name="AdapterJs">
          <clobbers target="window.getUserMedia" />
      </js-module>
  </platform>

  <platform name="windows">
      <config-file target="config.xml" parent="/*">
          <feature name="QRScanner">
              <param name="windows-package" value="QRScanner" />
          </feature>
      </config-file>
      <js-module src="src/windows/QRScannerProxy.js" name="QRScannerProxy">
          <merges target=""/>
      </js-module>
      <config-file target="package.appxmanifest" parent="/Package/Capabilities">
        <DeviceCapability Name="webcam" />
      </config-file>

     <framework src="src/windows/lib.UW/x86/ZXing.winmd" target-dir="x86" arch="x86" custom="true" versions=">8.1" />
     <framework src="src/windows/lib.UW/x64/ZXing.winmd" target-dir="x64" arch="x64" custom="true" versions=">8.1" />
     <framework src="src/windows/lib.UW/ARM/ZXing.winmd" target-dir="ARM" arch="ARM" custom="true" versions=">8.1" />
     <framework src="src/windows/lib/WinRTBarcodeReader.csproj" custom="true" type="projectReference" versions="&lt;=8.1"/>

     <asset src="src/windows/assets/plugin-barcodeScanner.css" target="css/plugin-barcodeScanner.css" />
     <hook src="hooks/windows/check-arch.js" type="before_compile" />
     <hook src="hooks/windows/check-arch.js" type="before_run" />
  </platform>

</plugin>
