<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-qrscanner"
        version="2.4.0">

  <name>QRScanner</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/www.min.js" name="QRScanner">
    <clobbers target="QRScanner" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="android-package" value="com.bitpay.cordova.qrscanner.QRScanner"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" android:required="false" />
        <uses-feature android:name="android.hardware.camera" android:required="false" />
        <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    </config-file>
    <source-file src="src/android/QRScanner.java" target-dir="src/com/bitpay/cordova/qrscanner"/>
    <dependency id="cordova-plugin-compat" version="^1.0.0" />
    <framework src="src/android/qrscanner.gradle" custom="true" type="gradleReference"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="ios-package" value="QRScanner"/>
      </feature>
    </config-file>
    <dependency id="cordova-plugin-swift-support" spec="~3.1.0" />
    <source-file src="src/ios/QRScanner.swift"/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>The camera is used to scan QR codes.</string>
    </config-file>
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="QRScanner">
          <param name="browser-package" value="QRScanner" />
      </feature>
    </config-file>
    <js-module src="src/browser/plugin.min.js" name="QRScannerProxy">
      <runs />
    </js-module>
  </platform>

</plugin>
