<?xml version='1.0' encoding='utf-8'?>
<widget id="test.qrscanner.t{{TIMESTAMP}}" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CvQRScnTst</name>
    <description>
        A test application for the cordova-plugin-qrscanner package.
    </description>
    <author email="satoshi@bitpay.com" href="https://bitpay.com">
        BitPay
    </author>
    <content src="cdvtests/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="orientation" value="default" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="orientation" value="all" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-qrscanner" spec="../../cordova-plugin-qrscanner" />
    <plugin name="cordova-plugin-qrscanner-tests" spec="../../cordova-plugin-qrscanner/tests" />
    <plugin name="cordova-plugin-test-framework" spec="~1.1.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="~1.4.2" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.1" />
    <engine name="browser" spec="~4.1.0" />
    <engine name="ios" spec="~4.1.1" />
    <engine name="android" spec="~5.1.1" />
</widget>
